@model PageHeader
<!-- header -->
<header id="page-top" class="blog-banner" style="background-image:url(/Uploads/@Model.BackgroundPhoto)">
    <!-- Start: Header Content -->
    <div class="container" id="blog">
        <div class="row blog-header text-center wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h4>
                    @foreach (KeyValuePair<string, string> item in Model.Breadcrumbs)
                    {
                        if (item.Value != null)
                        {
                            <a href="@item.Value">@item.Key</a> <span>/</span>
                        }
                        else
                        {
                            <span>@item.Key</span>
                        }
                    }
                    
                </h4>
                <h3>@Model.Name</h3>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. header -->
<!-- End: Header Section
==================================================-->
