@model List<Partner>
<!-- End: Client Section
==================================================-->
<div class="client-section" id="client-section">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!-- client list  -->
            <div class="owl-carousel owl-theme col-md-12" id="client">
                <!-- client 1 -->
                @foreach (var partner in Model)
                {
                    <div class="item row">
                        <div class="col-md-12">
                            <a href="@partner.Url" target="_blank" class="client-box">
                                <img alt="client" src="~/Uploads/@partner.Photo">
                            </a>
                        </div>
                    </div>
                }
            </div>
            <!--/ client list  -->
        </div>
        <!--/ row - -->
    </div>
    <!--/ Container - -->
</div>
<!-- End:Client Section
==================================================-->
