<!-- Start: Pricing Section
==================================================-->
<section class="pricing-section" id="pricing">
    <!-- container -->
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Select Our <span class="ylow_clr">plan</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
        <!-- End: Heading -->

        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <!-- Start: pricing-box 1 -->
                <div class="pricing-box">
                    <h3>Basic</h3>
                    <h2><span>$</span>60</h2>
                    <ul>
                        <li> One-time Cleaning </li>
                        <li> Regular Cleaning</li>
                        <li> Move-ins / Outs</li>
                    </ul>
                    <a href="services.html" class="more-link">Order Now</a>
                </div>
                <!-- End: pricing-box 1 -->
            </div>
            <div class="col-lg-3 col-xs-12">
                <!-- Start: pricing-box 1 -->
                <div class="pricing-box">
                    <h3>Onetime</h3>
                    <h2><span>$</span>70</h2>
                    <ul>
                        <li> One-time Cleaning </li>
                        <li> Regular Cleaning</li>
                        <li> Move-ins / Outs</li>
                    </ul>
                    <a href="services.html" class="more-link">Order Now</a>
                </div>
                <!-- End: pricing-box 1 -->
            </div>
            <div class="col-lg-3 col-xs-12">
                <!-- Start: pricing-box 1 -->
                <div class="pricing-box">
                    <h3>Regular</h3>
                    <h2><span>$</span>80</h2>
                    <ul>
                        <li> One-time Cleaning </li>
                        <li> Regular Cleaning</li>
                        <li> Move-ins / Outs</li>
                    </ul>
                    <a href="services.html" class="more-link">Order Now</a>
                </div>
                <!-- End: pricing-box 1 -->
            </div>
            <div class="col-lg-3 col-xs-12">
                <!-- Start: pricing-box 1 -->
                <div class="pricing-box">
                    <h3>Deep</h3>
                    <h2><span>$</span>90</h2>
                    <ul>
                        <li> One-time Cleaning </li>
                        <li> Regular Cleaning</li>
                        <li> Move-ins / Outs</li>
                    </ul>
                    <a href="services.html" class="more-link">Order Now</a>
                </div>
                <!-- End: pricing-box 1 -->
            </div>
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!-- End: Pricing Section
==================================================-->
