@model List<Package>
<!-- Start: Pricing Section
==================================================-->
<section class="pricing-section" id="pricing">
    <!-- container -->
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Select Our <span class="ylow_clr">plan</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
        <!-- End: Heading -->

        <div class="row">
            @foreach (var package in Model)
            {
                <div class="col-lg-3 col-xs-12">
                    <!-- Start: pricing-box 1 -->
                    <div class="pricing-box">
                        <h3>@package.Title</h3>
                        <h2>@package.Price.ToString("0")<span>₼</span></h2>
                        <ul>
                            @{
                                var options = package.Options.Split(',');
                            }
                            @foreach (var option in options)
                            {
                                <li> @option </li>
                            }
                        </ul>
                        <a href="@Url.Action("index","services")" class="more-link">Order Now</a>
                    </div>
                    <!-- End: pricing-box 1 -->
                </div>
            }
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!-- End: Pricing Section
==================================================-->
