@model List<Service>
<!-- Start:Our Services Section
==================================================-->
<section class="service-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Our <span class="ylow_clr"> services </span> </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
        <!-- End: Heading -->
        <div class="row timeline_posts">
            @foreach (var service in Model)
            {
                <div class="col-md-4 col-xs-12">
                    <!-- about-item -->
                    <div class="service-item">
                        <div class="icon-serv">
                            <img src="~/Uploads/@service.Icon" alt="@service.Name">
                        </div>
                        <h5 class="serv-left">@service.Name</h5>
                        <div class="serv-info">@service.Desc</div>
                        <a href="@Url.Action("details","services",new { slug=service.Slug })">
                            <span class="serv-learn">More</span><i class="arrow_right"></i>
                        </a>
                    </div>
                    <!-- End: .about-item -->
                </div>
            }
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End:Our Services Section
==================================================-->
