<!-- Start:Our Services Section
==================================================-->
<section class="service-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Our <span class="ylow_clr"> services </span> </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
        <!-- End: Heading -->
        <div class="row timeline_posts">
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon1.png" alt="image">
                    </div>
                    <h5 class="serv-left">Constraction Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business</div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>
                <!-- End: .about-item -->
            </div>
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon3.png" alt="image">
                    </div>
                    <h5 class="serv-left">Commercial Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business </div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>
                <!-- End: .about-item -->
            </div>
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon4.png" alt="image">
                    </div>
                    <h5 class="serv-left">Living Area Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business</div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>
                <!-- End: .about-item -->
            </div>
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon2.png" alt="image">
                    </div>
                    <h5 class="serv-left">Residential Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business </div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>
                <!-- End: .about-item -->
            </div>
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon5.png" alt="image">
                    </div>
                    <h5 class="serv-left">Spring Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business</div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>

                <!-- End: .about-item -->
            </div>
            <div class="col-md-4 col-xs-12">
                <!-- about-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <img src="~/Public/images/promo_icon6.png" alt="image">
                    </div>
                    <h5 class="serv-left">Office Cleaning</h5>
                    <div class="serv-info">The purpose of writing a business is to actually research and find out more about the business</div>
                    <span class="serv-learn">More</span><i class="arrow_right"></i>
                </div>
                <!-- End: .about-item -->
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End:Our Services Section
==================================================-->
