<!--  Start:Team Section
==================================================-->
<section class="team-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Team <span class="ylow_clr">member</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
    </div>
    <div class="container-fulid">
        <!-- End: Heading -->
        <div class="owl-carousel owl-theme" id="team">
            <!-- Start: Testimonial 1 -->
            <div class="item">
                <!-- profile 1-->
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team1.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>Bob Martines</h6>
                            <p>Pool Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End: profile 1-->
            <!-- profile 2-->
            <div class="item">
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team2.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>John Martines</h6>
                            <p>Floor Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: profile 2-->
            <!-- profile 3-->
            <div class="item">
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team3.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>Wilson Jon</h6>
                            <p>Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: profile 3 -->
            <!-- profile 4-->
            <div class="item">
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team4.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>Bob Martines</h6>
                            <p>Floor Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: profile 4 -->
            <!-- profile 4-->
            <div class="item">
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team5.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>Bob Cleaner</h6>
                            <p>Pool Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: profile 4 -->
            <!-- profile 4-->
            <div class="item">
                <div class="member">
                    <div class="img">
                        <div class="team_img">
                            <img alt="team" class="img-responsive" src="~/Public/images/team6.jpg">
                        </div>
                        <div class="team_info_overlay">
                            <h6>Bob Martines</h6>
                            <p>Office Cleaner</p>
                            <ul class="social list-inline">
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: profile 4 -->
        </div>

    </div>
    <!--/.container -->
</section>
<!--  End:Team Section
==================================================-->
