@model List<Client>
<!-- Start: Testimonial Section
==================================================-->
<div class="testimonials-section" id="testimo">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Client & <span class="ylow_clr">Testimonial</span></h3>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-md-12">
                <!-- Testimonials-->
                <div class="owl-carousel owl-theme" id="testimonial">
                    <!-- Start: Testimonial 1 -->
                    @foreach (var client in Model)
                    {
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="cus-title">
                                    <span class="tes-img"><img alt="testimonial" src="~/Uploads/@client.Photo"></span>
                                    <p>@client.Fullname<span>At @client.Company </span></p>
                                </div>
                                <div class="testi_cont">
                                    <p>
                                       @client.Text
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!-- End: Testimonial Section
==================================================-->
