<!-- Start: Testimonial Section
==================================================-->
<div class="testimonials-section" id="testimo">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Client & <span class="ylow_clr">Testimonial</span></h3>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-md-12">
                <!-- Testimonials-->
                <div class="owl-carousel owl-theme" id="testimonial">
                    <!-- Start: Testimonial 1 -->
                    <div class="item">
                        <div class="testimonial-box">
                            <div class="cus-title">
                                <span class="tes-img"><img alt="testimonial" src="~/Public/images/tes1.jpg"></span>
                                <p>John Deo<span>At Twitter </span></p>
                            </div>
                            <div class="testi_cont">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit uisque at eros id ex feugiat tristique eget a du estib ulum auctor the ottera vehicula lectus non rhoncus. Etiam interdum diam at posue aret bibendum eget a du
                                    estib ulum .
                                </p>
                            </div>
                        </div>
                        <!--End: Testimonial 1 -->
                    </div>
                    <!-- Start: Testimonial 2 -->
                    <div class="item">
                        <div class="testimonial-box">
                            <div class="cus-title">
                                <span class="tes-img"><img alt="testimonial" src="~/Public/images/tes2.jpg"></span>
                                <p>Clark Deo<span>At Facebook </span></p>
                            </div>
                            <div class="testi_cont">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit uisque at eros id ex feugiat tristique eget a du estib ulum auctor the ottera vehicula lectus non rhoncus. Etiam interdum diam at posue aret bibendum eget a du
                                    estib ulum .
                                </p>
                            </div>
                        </div>
                        <!--End: Testimonial 2 -->
                    </div>
                    <!-- Start: Testimonial 3 -->
                    <div class="item">
                        <div class="testimonial-box">
                            <div class="cus-title">
                                <span class="tes-img"><img alt="testimonial" src="~/Public/images/tes3.jpg"></span>
                                <p>Ldia Park<span>At Google </span></p>
                            </div>
                            <div class="testi_cont">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit uisque at eros id ex feugiat tristique eget a du estib ulum auctor the ottera vehicula lectus non rhoncus. Etiam interdum diam at posue aret bibendum eget a du
                                    estib ulum .
                                </p>
                            </div>
                        </div>
                        <!--End: Testimonial 3 -->
                    </div>

                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!-- End: Testimonial Section
==================================================-->
